body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  padding: 30px;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
/* CONTAINER */
.main-container {
  display: flex;
  width: 1200px;
  margin: 40px auto;
  background-color: white;
}
/* SIDEBAR */
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: rgb(43 58 81);
  color: white;
  margin-right: 60px;

  width: 370px;
  padding: 40px 30px;
}
.sidebar-image {
  width: 340px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.sidebar-item::marker {
  color: #f67021;
}
.sidebar-info {
  color: #ababab;
}

/* TECHNICAL SKILLS */
.skills-container {
  margin-bottom: 10px;
}

/* SOFT SKILLS */
.soft-skills-container {
  margin-bottom: 10px;
}

/* LANGUAGES */
.languages-container {
  margin-bottom: 10px;
}

/* CONTACTS */
.contacts-list {
  list-style: none;
}
.contact-link {
  color: #ababab;
}
.contact-link:hover,
.contact-link:focus {
  color: #f1f1f1;
}
/* ABOUT ME */
.about-me-container {
  padding-right: 20px;
}
.about-me-title {
  text-align: center;
  margin-bottom: 10px;
}
.about-me-subtitle {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(43 58 81);
}
.about-me-info {
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(43 58 81);
  padding-bottom: 20px;
}
/* PROJECT */
.project-section {
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(43 58 81);
  padding-bottom: 20px;
}
.project-title {
  color: #f67021;
}
.project-item::marker {
  color: #f67021;
}
.project-item:not(:last-child) {
  margin-bottom: 10px;
}
.project-name {
  font-weight: 700;
}
.project-link {
  color: #f67021;
}
.project-link:hover,
.project-link:focus {
  color: #9b3900;
}
/* WORK EXPERIENCE */
.experience-section {
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(43 58 81);
  padding-bottom: 20px;
}
.experience-title {
  color: #f67021;
}
/* EDUCATION */

.education-title {
  color: #f67021;
}

.education-item {
  margin-bottom: 10px;
}
.education-item::marker {
  color: #f67021;
}
